opencv-python==4.11.0.86
diffusers==0.30.3
transformers==5.5.4
tokenizers==0.22.2
accelerate==1.13.0
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
gradio>=5.0.0
numpy==1.24.4
boto3
wandb
omegaconf
moviepy==1.0.3
einops
av==13.1.0
opencv-python
open_clip_torch
starlette
pycocotools
lmdb
matplotlib
sentencepiece
pydantic
scikit-image
tensorboard
peft==0.18.1
